page-tabuleiro {
}

.tituloNivel {
    padding-top: -250px !important;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.tabuleiro4posicoes {
    padding-top: 120px;
}

.tabuleiro6posicoes {
    padding-top: 90px;
}

.tabuleiro6posicoes {
    padding-top: 60px;
}

.tabuleiro8posicoes {
    padding-top: 30px;
}

.tabuleiro10posicoes {
    padding-top: 0px;
}

.texto_questao {
    font-size: 1.1rem !important;
}